{% extends "base.html" %}

{% block content %}

{% if orderList %}
    <h1>You are now viewing all the Orders!</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Customer Name</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orderList  %}
                <tr>
                    <td>
                        <a href="/simplestore/orders/{{order.id}}"> 
                            {{order.id}}
                        </a>
                    </td>
                    <td>{{order.customer.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No Orders are available!</p>
{% endif %}

{% endblock content %}

