{% extends "base.html" %}

{% block content %}

{% if customerList %}
    <h1>You are now viewing all the customers!</h1>
    <table>
        <thead>
            <tr>
                <th>Customer Name</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customerList %}
            <tr>
                <td>{{customer.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No Customers are available</p>
{% endif %}

<form style = "margin-top: 1%;"action="{% url 'simplestore:addNewCustomer'%}">
    <input type="submit" value="Add New Customer">
</form>

{% endblock content %}

