<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if itemList %}
        <h1>You are now viewing all the items!</h1>
        <ul>
            {% for item in itemList  %}
                <li>Item Name: {{item.name}} -----  Price: {{item.defaultPrice}}</li>
            
            {% endfor %}
        </ul>
    {% else %}
        <p>No items are available</p>
    {% endif %}
</body>
</html>