
{% extends "base.html" %}
{% block content %}
    
    {% if order %}
        <table>
            <caption>Order Number: {{order.id}} --- Customer Name: {{order.customer.name}}</caption>
            <tbody>
                <tr id = "orderDetailColumnHeaders">
                    <td>Item</td>
                    <td>Price</td>
                    <td>Quantity</td>
                </tr>
                {% if orderItemList %}
                    {% for orderItem in orderItemList %}
                        <tr>
                            <td>{{orderItem.item.name}}</td>
                            <td>{{orderItem.item.defaultPrice}}</td>
                            <td>{{orderItem.quantity}}</td>
                        </tr>
                    {% endfor %}
                
                
                {% endif %}
                
            </tbody>
        </table>
    {% else %}
        <p>No items are available</p>
    {% endif %}
{% endblock content %}